{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:react/recommended"
  ],
  "plugins": ["@typescript-eslint"],
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "@typescript-eslint/semi": ["error"],
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/restrict-template-expressions": "off",
    "@typescript-eslint/restrict-plus-operands": "off",
    "@typescript-eslint/no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "arrow-spacing": ["error", { "before": true, "after": true }],
    "eqeqeq": "error",
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "jsx-quotes": ["error", "prefer-double"],
    "linebreak-style": ["error", "unix"],
    "max-len": ["error", { "code": 100, "tabWidth": 2 }],
    "no-case-declarations": "off",
    "no-multi-spaces": "error",
    "no-trailing-spaces": "error",
    "no-useless-escape": "off",
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "react/jsx-sort-props": ["error", { "ignoreCase": true }],
    "react/react-in-jsx-scope": "off"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}
