.info {
  text-align: center;
}

.picture {
  border-radius: 50%;
  height: 200px;
  margin: 2rem 0;
  width: 200px;
}

.bio {
  color: #8bb4f7;
  margin: 1rem 0;
}

.details {
  color: lightgray;
  margin: 1rem 0;
}

.icon-info {
  filter: invert();
  height: 12px;
  width: 12px;
}

.icon-social {
  filter: invert();
  height: 32px;
  margin: 0 10px 0 10px;
  width: 32px;
}

.link-social:hover {
  text-decoration: none;
}
