.project {
  border:#0f3552 1px solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 10px 0 10px 0;
  padding: 15px;
}

.project::after {
  clear: both;
  content: '';
  display: table;
}

.project a {
  font-weight: bold;
}

.year {
  color: #8b859b;
  padding: 5px 0 0 0;
}
  
.tag {
  border-radius: 15px;
  font-size: small;
  margin: 0 3px 0 0;
  padding: 7px;
}

.tag.css {
  border: #9b3bc8 2px solid;
  color: #9b3bc8;
}

.tag.html {
  border: #c8443b 2px solid;
  color: #c8443b;
}

.tag.java {
  border: #c8783b 2px solid;
  color: #c8783b;
}

.tag.javascript {
  border: #c6c83b 2px solid;
  color: #c6c83b;
}

.tag.python {
  border: #3b96dc 2px solid;
  color: #3b96dc;
}

.tag.shell {
  border: #3bc847 2px solid;
  color: #3bc847;
}

.tag.sql {
  border: #3bc8c1 2px solid;
  color: #3bc8c1;
}
