body {
  background-color: #05121c;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: auto;
  max-width: 95%;
}

a {
  white-space: nowrap;
}

a:link, a:visited {
  color: #8bb4f7;
  text-decoration: none;
}

a:hover {
  color: #8bb4f7;
  text-decoration: underline;
}
